
.cart-title h2 {
	padding: 0;
	margin: 0;
}

/*cart title*/
.line, .line1 {
		border-bottom: 0.08em solid #c6aa9d;
    display: inline-block;
    width: 100%;
}

.cart-content .product_quan {
	width: 30%;
	margin-top: 1rem;
}

/*cart content*/
.cart-img {
	width: 100%;
	height: auto;
	margin: 0;
	display: block;

}

.cart-product-info {
    padding: 2.5rem 0rem 0rem 0;
	text-align: left;
}


.cart-product-text {
	padding-top: 3rem;
    text-align: left;
    padding-left: 1rem;
}


.order-summary .cart-product-info {
	padding: 0rem;


}

.order-summary .cart-product-text {
	padding-top: 2rem;
	padding-left: 0rem;


}


.cart-d-hidden {
	visibility: hidden;
	font-family: Verdana, sans-serif;
	padding-right: 1rem;
}

.order-summary {
	padding-top: 2rem;
}

.order-summary .cart-d-hidden {
	visibility: visible;
	font-family:Verdana, sans-serif;
	padding-right: 1rem;
}

.cart-content .left .line1 {
	visibility: hidden;
}



/*price summary*/
.cart-price p {
	margin-top: 1rem;
	padding: 0;
	font-weight: bold;
	text-align: center;
	font-size: 1rem;
}

.cart-price {
	margin-bottom: 7rem;
}

.cart-price h4 {
	margin-bottom: 0;
	font-size: 1.3em;
	text-align: left;
	padding-left: 1rem;
}

.checkout-price {
	margin: 0;
	padding-top: 1rem;
	font-weight: bold;
	text-align: center;
}

.checkout-total {
	padding: 0;
	margin-top: 1.5rem;
	margin-bottom: 5rem;
	font-weight: bold;
	text-align: center;
	font-size: 1rem;
}

/*buttons*/
.button {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
}

.checkout-button .button {
	width: 99%;
	margin-top: 1rem;
}

/*checkout-section*/
.order-summary p, .order-summary h3 {
	text-align: left;
	margin-top: -0.5rem;
}

.cart-content .left {
	padding-right: 2.5rem;
}

.cart-content .right {
	padding-left: 2.5rem;
}

/*confirm section*/

.confirm_section {
	margin-left: 5rem;
}

/*grid*/
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='text-'] {
	float: left;
	text-align: center;
	width: 100%;
}

[class^='grid-col-cart-']::after {
	content: "";
	display: block;
	clear: both;
}

/*cart-price-summart */
.grid-col-cart-8of12 {
	width: 70%;
	height: 1rem;
}

.grid-col-cart-8of12-1 {
	width: 40%;
	height: 1rem;
}

.grid-col-cart-4of12{
	width: 30%;
	padding-left:1rem;
}

.grid-col-cart-2of12 {
	width: 16.5%;
}

/*checkout section- payment page*/
.grid-col-checkout-8of12 {
	width: 68%;
	height: 1rem;
}

.grid-col-cart-6of12 {
	width:50%;
	text-align: left;
}

.homebut {
	width:100%;
	margin-left: 4rem;
	margin-right: 4rem;
}

.grid-col-checkout-6of12 {
	width: 50%;
}

.grid-col-checkout-6of12-homebut {
	width: 100%;
	padding: 0rem 7rem;
}

.grid-col-checkout-4of12 {
	width: 40%;
}

.grid-col-cart-2of12 {
	width: 15%;
	display: inline-block;
	text-align: center;
}

.grid-col-cart-3of12 {
	width: 27.5%;
	padding-right: 2rem;
}

.grid-col-checkout-2of12 {
	width: 20%;
}

.grid-col-payment-4of6 {
	width: 66%;
	margin-right: 0.1rem;
}

.grid-col-payment-2of6 {
	width: 32.99%;
	margin-right: 0.1rem;
}

.grid-col-payment-1of6 {
	width: 16%;
	margin-right: 0.1rem;
	margin-left: 0.1rem;
}

@media only screen and (max-width: 75rem) {

	.cart-content .grid-col-1of2 {
		margin-bottom: 0rem;
	}

	.cart-content .left {
		padding-right: 0;
	}

	.cart-content .right {
		padding-left: 0;
	}

	.cart-content .left .line1 {
		visibility: visible;
	}

	.confirm_section {
	margin-left: 0rem;
	}

	/*payment*/
	.grid-col-payment-4of6 {
		width: 60%;

	}

	.grid-col-payment-2of6 {
		width: 32.8%;
		margin-right: 0.2rem;

	}

	.grid-col-payment-1of6 {
		width: 18%;

	}
}

/*tablet*/
@media only screen and (max-width: 69rem) {

	/*cart title*/
	.cart-title {
		display: none;
	}

	/*cart content*/
	.grid-col-cart-3of12 {
		width: 50%;
	}


	.cart-product-info {
		padding: 0;
	}

	.cart-product-text {
		text-align: left;
		padding-top: 0rem;
		padding-left: 0rem;
	}

	.cart-d-hidden {
		visibility: visible;
		padding-right: 1.5rem;

	}

	.order-summary .grid-col-cart-3of12 {
		width: 27.5%;
	}

	/*price summary*/
	.grid-col-checkout-2of12 {
		width: 20%;
	}
}

/*moile*/
@media screen and (max-width: 45rem) {

	/*cart content*/
	.grid-col-cart-3of12 {
		width: 100%;
	}

	.order-summary .grid-col-cart-3of12 {
		width: 100%;
	}

	.grid-col-cart-2of12 {
		width: 25%;
	}

	.cart-product-text, .order-summary .cart-product-text {

	    padding-left: 1.5rem;
	    padding-top: 0rem;
	}

	.cart-content .right {
		padding-top: 5rem;
	}

	.cart-content .product_quan {
		width: 40%;
	}

	.sum {
		width: 50%;
		text-align: left;
		margin-top: 0;
	}

	.grid-col-cart-4of12{
		width: 100%;
		padding: 0rem 1.5rem 0rem 1.5rem;
	}

	/*cart-price-summary */
	.grid-col-cart-8of12 {
		width: 0;
	}

	.need-white-space {
		padding: 2rem 0rem;
	}

	.cart-content h4,p, .order-summary .cart-product-info {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	/*checkout*/
	.grid-col-checkout-8of12 {
		width: 0;
	}

	/*buttons*/
	.grid-col-checkout-6of12 {
		width: 100%;
		padding: 0rem 1.5rem 0rem 1.5rem;
	}

	.grid-col-checkout-6of12-homebut {
		padding: 0rem 1.5rem 0rem 1.5rem;
	}

	/*payment*/
	.review-form p {
		padding-left: 0;
		padding-right: 0;
	}

	.review-form {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}

	.grid-col-payment-2of6 {
		width: 32.35%;
	}

	.grid-col-payment-4of6 {
		width: 55%;
	}

	.grid-col-payment-1of6 {
		width: 21.2%;
	}
}
